{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}{{ title }}{% endblock %}


<!-- İçerik -->
{% block content %}
<div class="container py-sm-3">
    <div class="p-5 mb-sm-4 bg-light rounded-3">
      <div class="container-fluid py-sm-2">
        <h1 class="display-5 fw-bold">{{ title }}</h1>
    {% load crispy_forms_tags %}
    <form method='POST' action=''>
        {% csrf_token %}
		{{form | crispy}}
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'products:product-list' %}" class="btn btn-dark btn-lg" tabindex="-1" role="button">İptal</a>
        <input  class="btn btn-primary btn-lg" type="submit" value='Kaydet'/>
        </div>
    </form>
    </div>
    </div>
</div>

{% endblock %}
